<div id='map'></div>

<script>
  L.mapbox.accessToken = 'pk.eyJ1IjoicGhsYXRwaHJvZyIsImEiOiJhbDVOYnhnIn0.tgK7tFIDRvPgj0MVLozWqA';
  var map = L.mapbox.map('map', 'phlatphrog.kahg5p0n');
  var moveToLocationFound = true;

  var tweetedLocationsLayer = L.mapbox.featureLayer().addTo(map);
  tweetedLocationsLayer.loadURL('/mapped-tweets.json');
  tweetedLocationsLayer.on('mouseover', function(e) {
      e.layer.openPopup();
  });
  tweetedLocationsLayer.on('mouseout', function(e) {
      e.layer.closePopup();
  });
  tweetedLocationsLayer.on('click', function(e) {
      e.layer.unbindPopup();
      window.open(e.layer.feature.properties.url);
  });



  // Once we've got a position, zoom and center the map
  // on it, and add a single marker.
  map.on('locationfound', function(e) {
    if (moveToLocationFound) {
      // Only move to current location if no location
      // was specified by url.
      map.fitBounds(e.bounds);
    }
    
    var youAreHereLayer = L.mapbox.featureLayer().addTo(map);
    youAreHereLayer.setGeoJSON({
      type: 'Feature',
      geometry: {
        type: 'Point',
        coordinates: [e.latlng.lng, e.latlng.lat]
      },
      properties: {
        'title': 'You Are Here',
        'marker-color': '#ff8888',
        'marker-symbol': 'cross'
      }
    });
    
    youAreHereLayer.on('mouseover', function(e) {
        e.layer.openPopup();
    });
    youAreHereLayer.on('mouseout', function(e) {
        e.layer.closePopup();
    });
    
  });

  // If the user chooses not to allow their location
  // to be shared, display an error message.
  map.on('locationerror', function() {
    alert("Unable to determine your current location.")
  });

  var popup = L.popup();

  function onMapClick(e) {
    var lat = e.latlng.lat;
    var long = e.latlng.lng;
    var geohash = encodeGeoHash(lat, long).substr(0,9);

    var text = encodeURIComponent("here's a bicycle rack");
    var url = encodeURIComponent("http://bikerackmap.com/g/" + geohash);
    var via = encodeURIComponent("bicyclerack");
    var link = 'http://twitter.com/intent/tweet?text=' + text + '&url=' + url + '&via=' + via;

    var message = '<div id="tweet_form">' +
      'Enter a description of the rack at ' + geohash + ":" +
      '<%= form_for :tweet, url: tweets_path, :multipart => true, method: :post do |f| %>' +
      '  <%= f.text_field :message, :size => 40, :maxlength => 90, :autofocus => true, :placeholder => "here is a bicycle rack" %>' +
      '  <input id="tweet_geohash" name="tweet[geohash]" type="hidden" value="' + geohash + '" />' +
      '  <br>' +
      '  photo one: <%= f.file_field :photo_one, :capture => "camera", :accept => "image/*" %>' +
      '  <br>' +
      '  photo two: <%= f.file_field :photo_two, :capture => "camera", :accept => "image/*" %>' +
      '  <br>' +
      '  <%= f.submit "Send Tweet" %>' +
      '<% end %>' +
      '</div>';

    popup
      .setLatLng(e.latlng)
      .setContent(message)
      .openOn(map);
  }

  map.on('click', onMapClick);

<% if params[:geohash_string].present? %>
  // center on the supplied geohash;
  var decoded_geohash = decodeGeoHash('<%= params[:geohash_string] %>');
  moveToLocationFound = false;
<% else %>
  // There is no geohash supplied.
  var decoded_geohash = undefined;
<% end %>

if (navigator.geolocation) {
  map.locate();
}

if (decoded_geohash) {
  var lat = decoded_geohash.latitude[2];
  var lng = decoded_geohash.longitude[2];
  var latlng = L.latLng(lat, lng);
  map.setView(latlng, 18);

  var geojson = {
      type: 'FeatureCollection',
      features: [{
          type: 'Feature',
          properties: {
              title: 'Welcome (back) to <%= params[:geohash_string] %>!',
              'marker-color': '#393',
              'marker-size': 'large',
              'marker-symbol': 'bicycle'
          },
          geometry: {
              type: 'Point',
              coordinates: [lng,lat]
          }
      }
    ]};

  var desigLocLayer = L.mapbox.featureLayer().addTo(map);
  desigLocLayer.setGeoJSON(geojson);
  desigLocLayer.on('mouseover', function(e) {
      e.layer.openPopup();
  });
  desigLocLayer.on('mouseout', function(e) {
      e.layer.closePopup();
  });
}
  
</script>