<h1>Listing direct_submissions</h1>

<table>
  <tr>
    <th>Lat</th>
    <th>Long</th>
    <th>Text</th>
    <th>Photo url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @direct_submissions.each do |direct_submission| %>
  <tr>
    <td><%= direct_submission.lat %></td>
    <td><%= direct_submission.long %></td>
    <td><%= direct_submission.text %></td>
    <td><%= direct_submission.photo_url %></td>
    <td><%= link_to 'Show', direct_submission %></td>
    <td><%= link_to 'Edit', edit_direct_submission_path(direct_submission) %></td>
    <td><%= link_to 'Destroy', direct_submission, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Direct submission', new_direct_submission_path %>
