<p id="notice"><%= notice %></p>

<p>
  <b>Lat:</b>
  <%= @direct_submission.lat %>
</p>

<p>
  <b>Long:</b>
  <%= @direct_submission.long %>
</p>

<p>
  <b>Text:</b>
  <%= @direct_submission.text %>
</p>

<p>
  <b>Photo url:</b>
  <%= @direct_submission.photo_url %>
</p>


<%= link_to 'Edit', edit_direct_submission_path(@direct_submission) %> |
<%= link_to 'Back', direct_submissions_path %>
